.navbar {
  border:0;
  background-color:#E0E0E0;
}
.navbar-header {
  padding:50px;
}
.navbar-brand {
  padding-left:60px;
}
.navbar-brand .name {
  color:#303030;
  font-family: 'Hind', sans-serif;
  font-size:50px;
  text-shadow:.5px .5px gray;
}
.navbar-brand .title {
  color:#303030;
  font-family: 'Catamaran', sans-serif;
  font-size:20px;
  line-height: 2.4;
}
.navbar-brand a:hover {
  text-decoration: none;
}
.navbar-nav {
  position:absolute;
    bottom:10px;
    right: 12%;   
}
#nav-list a {
  color:#303030;
  font-family: 'Catamaran', sans-serif;
  font-weight:bold;
  font-size:18px;
}
#nav-list a:hover {
  color:white;
  transition: color 0.3s;
}
#nav-list a.home {
  color:white;
}
#header {
  margin-top:35px;
}
.photo img { 
  width:100%;
}
.text {
  padding-top:4%;
  padding-right: 15%;
  text-align: justify;
}
ul {
  list-style-type: none;
}
ul p {
  font-family: 'Catamaran', sans-serif;
}
ul h3 {
  font-family: 'Comfortaa', cursive;
  font-weight:bold;
  color:#CC6600;
}
article {
	margin-top: 120px;
}
.col-sm-3 {

}
#timeline1 {
    margin: auto;
}
.left-boxes {
    text-align: right;
    padding-right: 0;
    padding-left: 80px;
}
.right-boxes {
	padding-right: 80px;
}

.box h4 {
	color:#CC6600;
}
.box h3 {
	margin-top: 0;
}	


	


 
